<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="sidebar" id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <a th:href="@{/static}">
                <img th:src="@{/img/logo.png}" alt="Image Preview" src="">
            </a>
        </div>

        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Main Menu</li>

                <li class="sidebar-item">
                    <a th:href="@{/login}" class='sidebar-link'>
                        <i data-feather="grid" width="20"></i>
                        <span>Login</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a th:href="@{/customers/register}" class='sidebar-link'>
                        <i data-feather="grid" width="20"></i>
                        <span>Register</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>